<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>UniBareProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow UniBareProject to use your location</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow UniBareProject to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow UniBareProject to use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow UniBareProject experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow UniBareProject to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow UniBareProject to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow UniBareProject to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow UniBareProject to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give UniBareProject periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give UniBareProject periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow UniBareProject to access your reminders</string>
	<key>UIAppFonts</key>
	<array>
		<string>rawline-100.ttf</string>
		<string>rawline-100i.ttf</string>
		<string>rawline-200.ttf</string>
		<string>rawline-200i.ttf</string>
		<string>rawline-300.ttf</string>
		<string>rawline-300i.ttf</string>
		<string>rawline-400.ttf</string>
		<string>rawline-400i.ttf</string>
		<string>rawline-500.ttf</string>
		<string>rawline-500i.ttf</string>
		<string>rawline-600.ttf</string>
		<string>rawline-600i.ttf</string>
		<string>rawline-700.ttf</string>
		<string>rawline-700i.ttf</string>
		<string>rawline-800.ttf</string>
		<string>rawline-800i.ttf</string>
		<string>rawline-900.ttf</string>
		<string>rawline-900i.ttf</string>
		<string>Rawline-Black.ttf</string>
		<string>Rawline-Bold.ttf</string>
		<string>Rawline-Light.ttf</string>
		<string>Rawline.ttf</string>
	</array>
</dict>
</plist>
